/* stylesheet */
body {
    font-family: "Roboto", "Helvetica", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.header, .hero, .footer {
    background-color: #1F2937;
    padding: 10px 48px;
}

.header {    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-list, #hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
         
}
.header-list {
    padding: 0 10px;
}


ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: center;
    align-items: flex-start;
}


#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#hero-image {
    margin-left: 30px;
    
}

button {    
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 25px;
}

#hero-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 200px;
    margin: 20px;
}

.service-item img{
    border: solid 5px;
    border-radius: 15px;
    border-color: #3882F6;
    width: 200px;
    margin-bottom: 10px;
}

.service-item figcaption {
    color: darkgray;
    text-align: center;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-text {
    font-weight: 100;
    font-size: 36px;
    font-style: italic;    
    margin: 60px 120px 0px 120px;;
    color: #1F2937;
    width: 900px;

}

#quoted-by {
    font-weight: 800;
    font-size: 18px;
    width: 900px;
    text-align: end;
    margin-bottom: 60px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 60px;    
}

.action-block {
    width: 1000px;
    background-color: #3882F6;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    
}

.action-text {
    color: #F9FAF8;
}

#action-button {
    background-color: #3882F6;
    border: solid 3px #F9FAF8;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: #F9FAF8;
}